<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="akka-nightly" value="https://f.feedz.io/akkadotnet/akka/nuget/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*"/>
    </packageSource>
    <packageSource key="akka-nightly">
      <package pattern="*"/>
    </packageSource>
    <packageSource key="sdkbin">
      <package pattern="Phobos.*"/>
    </packageSource>
  </packageSourceMapping>
</configuration>