name: pr_validation

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      
      - name: Make build scripts executable
        if: runner.os != 'Windows'
        run: |
          chmod +x ./build.sh
          chmod +x ./build.cmd

      - uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 5.0.*
          
      - uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.*

      - name: Cache .nuke/temp, ~/.nuget/packages
        uses: actions/cache@v2
        with:
          path: |
            .nuke/temp
            ~/.nuget/packages
          key: ${{ runner.os }}-${{ hashFiles('**/global.json', '**/*.csproj') }}
          
      - name: dotnet nuget
        run: dotnet nuget add source -n Phobos "${{ secrets.CUSTOMNUGETSOURCE }}"

      - name: Run './build.cmd All'
        run: ./build.cmd All
        env:
          CustomNuGetSource: ${{ secrets.CUSTOMNUGETSOURCE }}
          GITHUB_CONTEXT: ${{ toJSON(github) }}